.produtSlider{
    .slick-slider{
        
          // .produtImage{
          //   margin-left: 20px;
          //   max-width: 35px;
          //   min-width: 35px;
          //   }
        
    }
    .thumbsImage{
      .slick-track {
          display: flex;
          gap: 5px;
      }
    }
    
}
.slick-arrow{
  display: none !important;
}