.produtSlider{
    .slick-slider{
        
          .produtImage{
            margin-left: 20px;
            max-width: 35px;
            min-width: 35px;
            }
        
    }
}
.slick-arrow{
  display: none !important;
}