@import "../../assets/scss/module/variables.scss";
.badges {
  font-size: $xSmall;
  font-weight: $fw500;
  min-width: 95px;
  color: $col6;
  padding: 3px 13px;
  background-color: $col8;
  box-shadow: 0px 23.2012px 104.406px rgba(0, 0, 0, 0.25);
  border-radius: 58.0031px;
  display: inline-block;
  cursor: default;
  &.primarybadges {
    background: linear-gradient(92.26deg, $col10 3%, $col11 96.92%);

    color: $col6;
  }
  &.secondrybadges {
    background-color: $col3;
    color: $col6;
  }
  &.successbadges {
    background: $col16;
    border: 0.6px solid $col6;
    box-shadow: 0px 34px 157px rgba(0, 0, 0, 0.25);
    border-radius: 87px;
    color: $col6;
  }
  &.dangerbadges {
    background-color: $col5;
    color: $col6;
  }
  &.warningbadges {
    background-color: $col7;
    color: $col6;
  }
  &.infobadges {
    background-color: $col10;
    color: $col6;
  }
  &.borderbadges {
    background-color: transparent;
    border: 1px solid $col15;
    color: $col15;
    font-weight: $fw500;
    font-size: 16px;
  }
}

.badges-status {
  padding: 3.40001px 5.44002px;
  border-radius: 4.08001px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: capitalize;
  &.primary {
    background: #c8e8ff;
    color: #1988da;
  }
}
