// import "../modules/variables.scss";

  @mixin font-family {    
  font-family: 'Barlow', sans-serif !important;
  }
@mixin Roboto{
  font-family: 'Roboto', sans-serif;
  
}
  // A map of breakpoints.
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
  );
  
  