.footer-mj{
  background-image: linear-gradient(92.26deg, rgba(2, 89, 153, .95) 3%, rgba(0, 147, 255, .95) 96.92%), url('../../assets/images/footer-bg.jpg');
border-radius: 12px 12px 0px 0px;
padding: 50px;
}

.footer-links{
  padding: 0;
  li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    color: #fff;
  }
}