.homeSliderOne{
    .slick-prev {
        left: auto;
        right: 50px;
        top: -32px;
    }
    .slick-track{
        transform: translate3d(0.4px, 0px, 0px) !important;
    }
    .slick-next {
        right: 10px;
        top: -32px;
    }
    .slick-next:before,.slick-prev:before{
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #004C84;
        box-shadow: 4px 38px 62px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: block;
    }
    .slick-next:before{
        content: '>';
    }
    .slick-prev:before{
        content: '<';
    }
}
